<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Servicios</title>
    <link rel="stlyesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div>
        <h1>Lista de Servicios</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Horario inicio</th>
                    <th>Horario fin</th>
                    <th>Costo</th>
                    <th>Cargado</th>
                    <th>Existe</th>
                </tr>
            </thead>
            <th:block th:each="servicio:${servicios}">
                <tr>
                    <td th:text="${servicio.idservicio}"></td>
                    <td th:text="${servicio.horarioinicial}"></td>
                    <td th:text="${servicio.horariofinal}"></td>
                    <td th:text="${servicio.costo}"></td>
                    <td th:text="${servicio.cargado}"></td>
                    <td th:text="${servicio.existe}"></td>
                    <td>
                        <a th:href="@{servicios/{id}/edit(id=${servicio.idservicio})}">
                            Editar
                        </a>
                        <a th:href="@{servicios/{id}/delete(id=${servicio.idservicio})}"
                        onclick="return confirm('¿Estás seguro de borrar este servicio?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
            <a th:href="@{servicios/new}" class="btn btn-primary">Añadir Servicio</a>
        </div>
    </div>
</body>
</html>